header{
    padding: 3rem 0 2rem 7rem;
}


/* logo */
.logo{
    width: 12rem;
}


.primary-text-box-title{
    font-size: 3rem;
}

.primary-text-box-description{
    font-size: 1.8rem;
    font-weight:400;
    color:#E9E5EC;
}


.stats-box{
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem;
    align-items: center; 
}

.stats-box-info{
    font-weight: 500;
    font-size: 3rem;
}

.stats-box-numbers, .stats-box-numbers-2{
    font-size: 3rem;
    font-weight: 600;  
}

.stats-box-numbers-2{
    padding-left: 1.4rem;
}

.stats-box-questions, .stats-box-questions-2{
    font-size: 1.2rem;
    color:#E9E5EC;
}

.stats-box-questions-2{
    padding-left: 2.6rem;
}


.stats-box-circle{
    position: relative;
    border: 3rem solid #00FFFF;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
   
}

.position-absolute{
    width: 100%;
    padding: 2rem 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.stats-box-subtitle{
    font-size: 1.2rem;
    color: #07DEE8;
    font-weight: 600;
}

.stats-box-description{
    display: inline-block;
    color:#E9E5EC;
    margin:1.4rem;
}



.btn-rate{
    margin-bottom: 5rem;
    font-size: 1.2rem;
    width: 16rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
    padding: 1.5rem 2rem;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.20);
    
}

