/* Header */
header {
    padding: 3rem 0 5rem 0;
    max-width: 1200px;
    margin-inline: auto;
}


/* logo */
.logo {
    width: 12rem;
}

/* Results page styling */
.primary-text-box-title {
    font-size: 3rem;
}

.primary-text-box-description {
    font-size: 1.8rem;
    font-weight: 400;
    color: #E9E5EC;
    margin-top: 1rem;
}


.stats-box {
    display: flex;
    justify-content: space-between;
    padding: 4rem 3rem;
    align-items: center;
}

.stats-box-info {
    font-weight: 500;
    font-size: 3rem;
}

.stats-box-numbers,
.stats-box-numbers-2 {
    font-size: 3rem;
    font-weight: 600;
}

.stats-box-numbers-2 {
    padding-left: 1.4rem;
}

.stats-box-questions,
.stats-box-questions-2 {
    font-size: 1.2rem;
    color: #E9E5EC;
}

.stats-box-questions-2 {
    padding-left: 2.6rem;
}

/* Circle with 2 different colors */
.stats-box-circle {
    position: relative;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    background: conic-gradient(from 120deg, #00FFFF 0% 66.7%, #E843C4 66.7% 100%);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);

}


.stats-box-circle::before {
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
    right: 2.5rem;
    bottom: 2.5rem;
    border-radius: 50%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

/* Title description box with absolute posistion */
.position-absolute {
    width: 100%;
    padding: 0 4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.stats-box-subtitle {
    font-size: 1.2rem;
    color: #07DEE8;
    font-weight: 600;
}

.stats-box-description {
    display: inline-block;
    color: #E9E5EC;
    margin: 1.4rem;
}


/* results page button */
.btn-rate {
    font-size: 1.5rem;
    font-weight: 600;
    width: 16rem;
    height: 4rem;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    border: 3px solid #fff;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.20);
    margin-bottom: 5rem;
    cursor: pointer;    
}


/* Feedback page styling */

.rating{
    margin: 2rem 0 4rem 0;
}
/* stars */
.star {
  font-size: 5rem;
  cursor: pointer;
  color: #757575;
  transition: color 0.2s;
}
/* star hover, active */
.star.active, .star:hover {
    color: #00FFFF; 
}

/* Title and description box */
.feedback-box{
    display: inline-block;
    width:51rem;
}

/* comment input */
input[type="text"]{
    width: 100%;
    font-size: 1.2rem;
    margin: 3rem 0 4rem 0;
    padding: 8px 16px;
    border: none;
    border-bottom: 2px solid #C2128D;
    background: transparent;
    color: #E9E5EC;
}

input[type="text"]:focus{
    outline: none;
}


/* Reused button for welcome and feedback pages */
.btn-general{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 16rem;
    height: 4rem;
    background-color: #00FFFF;
    color: #000;
    border: none;
    cursor: pointer;
    position: relative;
}


/* before */
.btn-general::before{
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 25px;
    /* box-shadow: 0 0 10px 15px rgba(0,255,255, 0.25); */
    box-shadow: 0 0 13px 16px rgba(0,255,255, 0.27);
}
