* {
  color: white;
}
.epicodeLogo {
  margin: 3em;

  width: 15em;
}
.mainSet {
  padding-inline: 16em;
}
.title {
  line-height: 0.8;
  font-size: 7em;
  padding-top: 0.5em;
  font-weight: normal;
}
.subTitle {
  font-size: 3em;
  padding-top: 1em;
  color: #c2138d;
}
.mainSet p {
  font-size: 1.6em;
  line-height: 1;
}
.rulesList {
  padding-top: 3em;
  font-size: 1.2em;
  padding-left: 3em;
}
.sectionSet {
  margin: 9rem 0 5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionSet label {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

input {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  border: 3px solid white;
  cursor: pointer;
  appearance: none;
}
input[type="checkbox"] {
  background-color: transparent;
}

.btn-general {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 16rem;
  height: 4rem;
  background-color: #00ffff;
  color: #000;
  border: none;

  cursor: pointer;
  position: relative;
}

.btn-general::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0px 16px 13px rgba(0, 255, 255, 0.3);
}
