* {
  color: white;
}
.epicodeLogo {
  margin: 3em;

  width: 15em;
}
.mainSet {
  padding-inline: 5em;
}
.title {
  line-height: 0.8;
  font-size: 7em;
  padding-top: 0.5em;
  font-weight: normal;
}
.subTitle {
  font-size: 3em;
  padding-left: 1em;
  padding-top: 1em;
  color: #c2138d;
}
.mainSet p {
  padding-top: 1em;
  font-size: 1.6em;
  line-height: 1;
}
.rulesList {
  padding-top: 3em;
  font-size: 1.6em;
  padding-left: 3em;
}
.sectionSet {
  padding-top: 9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionSet label {
  font-size: 2em;
}

input {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  border: 3px solid white;
  cursor: pointer;
  appearance: none;
}
input[type="checkbox"] {
  background-color: transparent;
}
.startButton button {
  color: black;
  border: none;
  background-color: #01ffff;
  padding-block: 0.5em;
  font-size: 2em;
  padding-inline: 1em;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0em;
  cursor: pointer;
  box-shadow: rgb(1, 255, 255) 0px 0px 43px 0px;
}
