* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

/* classe riutilizzabile*/

.text-center {
  text-align: center;
}

/* Welcome page */

.welcome-title {
  line-height: 0.8;
  font-size: 7em;
  padding-top: 0.5em;
  font-weight: normal;
}
.welcome-subtitle {
  font-size: 2.4rem;
  padding-top: 1em;
  color: #c2138d;
}

.welcome-box {
  width: 41rem;
}

.welcome-description {
  font-size: 1.2rem;
}

.rulesList {
  padding-top: 3em;
  font-size: 1.2em;
  padding-left: 3em;
}

.sectionSet {
  margin: 5rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sectionSet label {
  font-size: 1.2em;
  vertical-align: text-bottom;
}

input {
  width: 2em;
  height: 2em;
  margin-right: 1em;
  border: 3px solid white;
  cursor: pointer;
  appearance: none;
}

.checked-native {
  appearance: auto;
}

input[type="checkbox"] {
  background-color: transparent;
}

.btn-general {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 16rem;
  height: 4rem;
  background-color: #00ffff;
  color: #000;
  border: none;

  cursor: pointer;
  position: relative;
}

.btn-general::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 0px 16px 13px rgba(0, 255, 255, 0.3);
}

/* Question page */

.header-question {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0 5rem 0;
}

.question {
  margin-bottom: 3.3rem;
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
  color: white;
  font-weight: 500;
  line-height: 30px;
}

.question h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
}

.answers {
  margin-bottom: 7rem;
  text-align: center;
}

.answer {
  display: inline-block;
  width: calc(40%);
  border-radius: 30px;
  height: 90px;
  margin: 15px 20px;
}

/* BUTTON CON MASK E POSITION RELATIVE & ABSOLUTE, BORDO CON GRADIENT MA POCA DISSOLVENZA */
.answer button {
  font-size: 1.7rem;
  position: relative;
  border: none;
  border-radius: 60px;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
  z-index: 0;
}
.answer button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  padding: 2px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0) 100%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
  z-index: -1;
}

.check {
  background: #b30088;
}
#button-next {
  text-align: right;
}
#button-next button {
  height: 60px;
  width: 120px;
}

#counter-question {
  text-align: center;
  color: white;
}

#counter-question p {
  letter-spacing: 1px;
}

#quantity-question {
  font-size: 1rem;
  color: #9f1282;
}

#timer {
  text-align: center;
  color: #ede8ee;
  position: relative;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  background: conic-gradient(from 90deg, #00ffff 0deg 360deg, rgba(255, 255, 255, 0.1));
  mask-image: radial-gradient(circle, transparent 55%, black 56%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

#timer::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: 8px;
  left: 8px;
  border-radius: 50%;
}

#position-second {
  top: -52%;
  left: 0%;
  text-align: center;
  padding-top: 15px;
  position: relative;
  z-index: 9999;
  line-height: 15px;
}

.text-timer {
  padding-block: 5px 10px;
  font-size: 7px;
}

.second {
  font-size: 45px;
}

.bottom-question {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3rem;
}

/* Results and Feedback */

/* Header */
.myheader {
  padding: 3rem 0;
  max-width: 1200px;
  margin-inline: auto;
}

/* logo */
.logo {
  width: 12rem;
}

/* Results page styling */
.primary-text-box-title {
  font-size: 3rem;
}

.primary-text-box-description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #e9e5ec;
  margin-top: 1rem;
}

.stats-box {
  display: flex;
  justify-content: space-between;
  padding: 4rem 3rem;
  align-items: center;
}

.stats-box-info {
  font-weight: 500;
  font-size: 3rem;
}

.stats-box-numbers,
.stats-box-numbers-2 {
  font-size: 3rem;
  font-weight: 600;
}

.stats-box-numbers-2 {
  padding-left: 1.4rem;
}

.stats-box-questions,
.stats-box-questions-2 {
  font-size: 1.2rem;
  color: #e9e5ec;
}

.stats-box-questions-2 {
  padding-left: 2.6rem;
}

/* Circle with 2 different colors */

.stats-box-main {
  position: relative;
}

.stats-box-circle {
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  background: conic-gradient(from 120deg, #00ffff 0% 66.7%, #e843c4 66.7% 100%);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
  mask-image: radial-gradient(circle, transparent 50%, black 51%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}

.stats-box-circle::before {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  bottom: 2.5rem;
  border-radius: 50%;
}

/* Title description box with absolute posistion */
.position-absolute {
  width: 100%;
  padding: 0 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stats-box-subtitle {
  font-size: 1.2rem;
  color: #07dee8;
  font-weight: 600;
}

.stats-box-description {
  display: inline-block;
  color: #e9e5ec;
  margin: 1.4rem;
}

/* results page button */
.btn-rate {
  font-size: 1.5rem;
  font-weight: 600;
  width: 16rem;
  height: 4rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Feedback page styling */

.rating {
  margin: 2rem 0 4rem 0;
}
/* stars */
.star {
  font-size: 5rem;
  cursor: pointer;
  color: #757575;
  transition: color 0.2s;
}
/* star hover, active */
.star.active,
.star:hover {
  color: #00ffff;
}

/* Title and description box */
.feedback-box {
  display: inline-block;
  width: 53rem;
}

/* comment input */
input[type="text"] {
  width: 100%;
  font-size: 1.2rem;
  margin: 3rem 0 4rem 0;
  padding: 8px 16px;
  border: none;
  border-bottom: 2px solid #c2128d;
  background: transparent;
  color: #e9e5ec;
}

input[type="text"]:focus {
  outline: none;
}

/* Reused button for welcome and feedback pages */
.btn-general {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 16rem;
  height: 4rem;
  background-color: #00ffff;
  color: #000;
  border: none;
  cursor: pointer;
  position: relative;
}

/* before */
.btn-general::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  /* box-shadow: 0 0 10px 15px rgba(0,255,255, 0.25); */
  box-shadow: 0 0 13px 16px rgba(0, 255, 255, 0.27);
}
